In [19]:
from sqlalchemy import create_engine
from sqlalchemy import text
from sql_queries.sql_queries import add_member, retrieve_table
from faker import Faker
import pandas as pd

In [21]:
engine = create_engine('mysql+pymysql://root:root@localhost/mydb')

In [30]:
def zkontroluj(tabulka):
    with engine.begin() as conn:
        query = text("""select * from """ + str(tabulka))
        df = pd.read_sql_query(query, conn)
        print(df.head())

In [33]:
df

,memberID,name,phone,email,address
0,10,Patricia,571.361.8794x74349,hickslaura@example.com,"061 Jeremy Views Suite 138\nLake Jessicaside, ..."
1,11,Amber,646-787-6912,zrodriguez@example.net,"70843 Randy Squares Apt. 461\nNew Beverly, NH ..."
2,12,Gail,(328)768-2473,linda49@example.org,"37882 Mary Falls Suite 255\nLake Cassandra, MT..."
3,13,Sue,+1-366-657-5071x660,penny80@example.org,"PSC 9925, Box 1855\nAPO AA 08467"
4,14,Stephanie,+1-810-785-5888x298,uharrington@example.com,"977 Dakota Manors\nNorth Wandaport, RI 27856"
5,15,Richard,601-454-5212,kimberlymorales@example.org,"8637 Allen Port Suite 790\nLake Gregory, PW 96318"