In [1]:
import mysql.connector
from sql_queries.sql_queries import retrieve_table, pridej_studenta, vytvor_predmet, prihlas_studenta_na_statnice, zapis_vysledek_predmetu_studentovi
from faker import Faker

In [2]:
#connect to mysql db using mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="statnice",
    autocommit=True
)

In [3]:
#vygenerujeme náhodné studenty
def vygeneruj_nahodneho_studenta():
    fake = Faker()

    jmeno = fake.first_name()
    prijmeni = fake.last_name()

    return {"jmeno": jmeno, "prijmeni" :prijmeni}

In [4]:
def pridej_do_tabulky(tabulka, data, mycursor):

    mycursor.execute(pridej_studenta(data["jmeno"], data["prijmeni"]))
    mycursor.execute(retrieve_table(tabulka))

    for x in mycursor:
        print(x)

In [5]:
mycursor = mydb.cursor()

In [6]:
student = vygeneruj_nahodneho_studenta()
pridej_do_tabulky("student", student, mycursor)

(1, 'Shannon', 'Henderson')
(2, 'Richard', 'Foster')
(3, 'Kenneth', 'Perez')
(4, 'Douglas', 'Mcdowell')
(5, 'Brenda', 'Johnson')
(6, 'Andrew', 'Watkins')

In [7]:
predmet_sql = vytvor_predmet("Python", 80)
mycursor.execute(predmet_sql)
mycursor.execute(retrieve_table("predmet"))

for x in mycursor:
    print(x)

(1, 'Matematika', 60)
(2, 'Matematika', 60)
(3, 'Matematika', 60)
(4, 'Matematika', 60)
(5, 'Fyzika', 50)
(6, 'Fyzika', 60)
(7, 'Python', 80)

In [8]:
sql_statnice = prihlas_studenta_na_statnice("Mcdowell", "2024-07-04", mycursor)

In [9]:
mycursor.execute(sql_statnice)
mycursor.execute(retrieve_table("statnice"))

for x in mycursor:
    print(x)

(1, datetime.date(2024, 7, 4), 0, 3)
(2, datetime.date(2024, 7, 4), 0, 5)
(3, datetime.date(2024, 7, 4), 0, 4)

In [10]:
sql_vysledek = zapis_vysledek_predmetu_studentovi("Johnson", "Python", 90, mycursor)

In [13]:
mycursor.execute(sql_vysledek)
mycursor.execute(retrieve_table("vysledek"))

for x in mycursor:
    print(x)

(1, 90, 7, 5)